<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container">
        <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
        <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
            <!--에러 메시지 처리 th:replace="form_errors(html 파일의) :: formErrorsFragment(속성명)으로 div교체 공통 템플릿 사용-->
            <div th:replace="form_errors :: formErrorsFragment"></div>
            <div class="mb-3">
                <label for="subject" class="form-label">제목</label>
                <input type="text" th:field="*{subject}" class="form-control">
            </div>                <!--th:field 폼 에러걸려도 작성한 내용 유지-->
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="저장하기" class="btn btn-primary my-2">
        </form>
    </div>
</html>